Host ru
    HostName ralphunlimited.com
    User ralphs
    ForwardX11 yes

Host gitru
    HostName ralphunlimited.com
    User gitosis

Host aa
    HostName appapp143.storediq.com
    User root

Host sa
    HostName stacyapp.storediq.com
    User repo
