Host onion
    HostName onionhater.us
    User root
    ForwardX11 yes

Host ru
    HostName 107.170.144.188
    # HostName ralphunlimited.com
    User root
    ForwardX11 yes

Host homeserver
    # HostName ralphunlimited.com
    # HostName 173.172.127.253
    HostName 192.168.0.200
    User ralphs
    ForwardX11 yes

## ---------- IBM ---------- ##

# the hostname for these are defined in /etc/hosts
Host app
    HostName app
    User root

Host gw
    HostName gw
    User root

Host ds
    HostName ds
    User root

Host tutorial_server
    HostName tutorial_server
    User root

Host *.dub.usoh.ibm.com
    User siqralph

Host jumphost
    User siqralph
    Hostname colvi0013.dub.usoh.ibm.com
    Port 22
        # siqralph-appstack:22
        LocalForward 15022 127.0.0.1:15022  
        # siqralph-appstack:80
        LocalForward 15080 127.0.0.1:15080
        # siqralph-appstack:443
        LocalForward 15443 127.0.0.1:15443
        # socketio testing
        LocalForward 15081 127.0.0.1:15081

        # siqralph-gateway:22
        LocalForward 15023 127.0.0.1:15023
        # siqralph-gateway:8765
        LocalForward 15765 127.0.0.1:15765
        # siqralph-gateway:80
        LocalForward 15082 127.0.0.1:15082

        # siqralph-dataserver:22
        LocalForward 15024 127.0.0.1:15024
        # siqralph-dataserver:80
        LocalForward 15081 127.0.0.1:15081
        # siqralph-dataserver:443
        LocalForward 15444 127.0.0.1:15444
        IdentityFile ~/.ssh/id_rsa
        Ciphers arcfour256

## ---------- END IBM ---------- ##