Host ru
    HostName ralphunlimited.com
    User ralphs
    ForwardX11 yes

Host gitru
    HostName ralphunlimited.com
    User gitosis

Host appstack
    HostName 172.18.35.20 
    User root

Host gw
    HostName 172.17.18.70 
    User root

Host ds
    HostName 172.17.18.59 
    User root

Host *.storediq.com
    User rsmith

Host 10.*
    User rsmith
